<h1>Agregar pago</h1>
<section>
  <form [formGroup]="addExpense" (ngSubmit)="onSubmit()">
    <label for="description-input" aria-label="Descripción del gasto">
      Descripción:
      <input type="text" name="description" id="description-input" required />
    </label>
    <label for="amount-input" aria-label="Total del gasto">
      Monto:
      <input type="number" name="amount" required id="amount-input" />
    </label>
    <label>
      Amigo:
      <select name="friendId" required>
        <option *ngFor="let friend of friends" [value]="friend.id">
          {{ friend.name }}
        </option>
      </select>
    </label>
    <button type="submit">Agregar</button>
  </form>
</section>