<h2>Gastos:</h2>

<!--<button (click)="addFriend()">Añadir amigo</button>
<button (click)="addExpense()">Añadir gasto</button>-->

<table>
  <thead>
    <tr>
      <th>Nombre del amigo</th>
      <th>Descripción del gasto</th>
      <th>Total del gasto</th>
      <th>Fecha del pago</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expenses">
      <td>{{ getFriendName(expense.friendId) }}</td>
      <td>{{ expense.description }}</td>
      <td>{{ expense.amount }}</td>
      <td>{{ expense.date | date }}</td>
    </tr>
  </tbody>
</table>