<h1>Bienvenido al grupo de gastos compartidos</h1>
<p>En esta página podrás ver el listado de pagos realizados por el grupo de amigos</p>
<button routerLink="/add-payment">Agregar pago</button>
<app-shared-expenses [expenses]="expenses"></app-shared-expenses>